<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Search2d Tests">
            <directory suffix="Test.php">./test</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
    <php>
        <env name="API_DATABASE_DSN" value=""/>
        <env name="API_LOGGER_NAME" value=""/>
        <env name="API_LOGGER_STREAM_ENABLED" value=""/>
        <env name="API_LOGGER_STREAM_PATH" value=""/>
        <env name="API_LOGGER_STREAM_LEVEL" value=""/>
        <env name="API_LOGGER_FLUENT_ENABLED" value=""/>
        <env name="API_LOGGER_FLUENT_TAG" value=""/>
        <env name="API_LOGGER_FLUENT_HOST" value=""/>
        <env name="API_LOGGER_FLUENT_PORT" value=""/>
        <env name="API_LOGGER_FLUENT_LEVEL" value=""/>
        <env name="API_ROUTER_CACHE_FILE" value=""/>
        <env name="API_ROUTER_CACHE_DISABLED" value="true"/>
        <env name="API_SEARCH_S3_REGION" value=""/>
        <env name="API_SEARCH_S3_INDEXED_IMAGE_BUCKET" value=""/>
        <env name="API_SEARCH_S3_INDEXED_IMAGE_BASE_URL" value=""/>
        <env name="API_SEARCH_S3_QUERIED_IMAGE_BUCKET" value=""/>
        <env name="API_SEARCH_S3_QUERIED_IMAGE_BASE_URL" value=""/>
        <env name="API_SEARCH_NNS_BASE_URI" value=""/>
        <env name="API_PIXIV_API_USERNAME" value=""/>
        <env name="API_PIXIV_API_PASSWORD" value=""/>
        <env name="API_PIXIV_API_CLIENT_ID" value=""/>
        <env name="API_PIXIV_API_CLIENT_SECRET" value=""/>
        <env name="API_PIXIV_API_PROXY" value=""/>
        <env name="API_PIXIV_SQS_REGION" value=""/>
        <env name="API_PIXIV_SQS_REQUEST_ILLUST_URL" value=""/>
        <env name="API_PIXIV_SQS_REQUEST_RANKING_URL" value=""/>
        <env name="AWS_ACCESS_KEY_ID" value=""/>
        <env name="AWS_SECRET_ACCESS_KEY" value=""/>
    </php>
</phpunit>